.icon {
  height: 2.5%;
  width: 2.5%
}

.user-image {
  height: 17em;
  width: 17em;
  border-radius: 50%;
  display: inline;
  float: left;
}

.user-container{
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1128px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  overflow: auto;
}


.user-header {
  display: inline;
  float: left; 
  padding-left: 5em;
}

.user-body {
  display: block;
  max-width: 1128px;
  margin: 0 auto;
  padding-left: 20em;
  padding-right: 20em;
}

.user-h2 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  color: #611243;
}

.user-h3 {
  font-family: "Poppins";
  font-size: 18.72px;
  font-weight: 600;
  color: #611243;
}

.user-p {
  font-family: "Poppins";
    font-size: 16px;
    /* font-weight: 600; */
    color: #393939;
}

.skill-list {
  list-style: none;
  font-family: "Poppins";
  font-size: 16px;
  /* font-weight: 600; */
  color: #393939;
}

.user-button {
  line-height: 24px;
  padding: 10px 30px;
  background: #601243;
  color: white;
  border:2px solid #601243;
  outline: none;
  border-radius: 5px ;
  /* text-transform: uppercase; */
  cursor: pointer;
  /* display: flex; */
  margin:  0 auto;
  padding-left: 38px;
  width: auto;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10em;
  align-items: center;
  display: flex;
}

#dropDown {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 61%;
}