/* * {
    box-sizing: border-box;
    padding: 10px 20px;
    margin:0;
    background-color: white;
    overflow-x: visible;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.input-container {
    width: 50;
    background:white  ;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    }
.input-container input{
        width :60%;
        padding : 10px 20px;
        outline: none;
        margin: 20px 0;
        /* text-align: Center; */
        border: 2px solid #611243;
        width: 100%;
        border-radius: 5px;
        font-family: "poppins";
        font-size: 16px;
        color: #393939;
    }

.input-container label{
    font-family: "poppins";
    font-size:14px;
    color: #393939;
}  

.button-login{
        line-height: 24px;
        padding: 10px 30px;
        background: #601243;
        color: white;
        border:2px solid #601243;
        outline: none;
        border-radius: 5px ;
        /* text-transform: uppercase; */
        cursor: pointer;
        /* display: flex; */
        margin:  0 auto;
        padding-left: 38px;
        width: 118%;
        font-family: "poppins";
        font-size: 16px;
        font-weight: 600;
        margin-top:15px;
    }

.button-login:hover{
    background-color: #61124350;
    /* background-color: #af26ff41; */
    transition-delay:200ms;
    color: #601243;
}


input, a:focus {
    border: 2px solid #124250;
}

    h1{
        color: white;
        background: transparent;
        text-shadow: 0 2px 2px black;
    }
    
    .login-form-display {
        width:80%;
    }