.signup-form {
    display: flex;
    flex-direction: row;
}

.signup-form .form-row {
    margin: 15px 0;
}

.signup-form .form-row label > span {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

.signup-container .signup-buttons {
    flex-direction: column;
    padding-left: 130px;
}