@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav{
    max-width: 1128px;
    margin: auto;
}

.nav-bar {
    padding-bottom: 16px;
    padding-top: 12px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    position: relative;
    max-width: 1128px;
    margin: auto;

}

.nav-logo{
    margin-right: auto;
}

.logo{
    width:60%;
}


.nav-bar-left{
    align-items: center;
    display: flex;
    margin-right: 4px;
    order: 3;
}

.nav-bar-left a {
    font-family: "Poppins";
    font-weight:500;
    text-decoration: none;
    color: #000000;
    margin-left:20px;
    margin-right: 20px;

}

.nav-bar-left a:hover {
    text-decoration: underline;
    text-decoration-color: #611243;
}

.nav-bar-left a:focus {
    border: 2px solid #124250;
}



.nav-bar-left::after{
    display: flex;
    height: 37px;
    width: 2px;
    align-items: center;
    background-color: grey;
    text-align: center;
    --tw-content: "";
    content: var(--tw-content);
    
}

.nav-bar-right{
    column-gap: 8px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    min-width: 100px;
    display: flex;
    order: 3;
}

.login-btn {
    height: min-content;
    min-height: 48px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    box-shadow: 0 0 0 1px #611243;
    background-color: transparent;
    color: #611243;
    border: 1px solid #611243;
}

.login-btn:hover {
    background-color: #61124350;
    /* background-color: #af26ff41; */
    transition-delay:200ms;
}

.join-btn {
    height: min-content;
    min-height: 48px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    box-shadow: 0 0 0 1px var(--color-button-container-secondary-emphasis-border);
    background-color: transparent;
    color: #611243;
    border: none;
}

.join-btn:hover {
    background-color: rgba(128, 128, 128, 0.261);
    /* background-color: #af26ff41; */
    transition-delay:200ms;
}
